version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql_url_shortener_app
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: url_shortener_app
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env-local-docker
    ports:
      - "${SERVER_PORT}:${SERVER_PORT}"
    command: ["/url-shortener"]
    restart: always

volumes:
  db_data:
